body {
    background-color: #333;
    color: whitesmoke;

    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.centered-text {
    text-align: center;
    font-size: 20px;
}

.text {
    white-space: pre-wrap; 
    word-wrap: break-word;
}

button {
    background-color: #23272A;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;
    outline: 2px solid #555;
    /* box-shadow: 0 0 0 2px rgba(0,123,255,.5); */
}
  
button:hover {
    background-color: #555;
    outline: 2px solid #c7c7c7;
}